A Tuple in python is similar to list. The difference b\w the two is we cannot change the element of tuple once its assigned wheras we can change the element of a list.

Its immutable just like string, and List is Mutable.

Characterstics

1. Ordered
2. Unchangeble
3. Allows duplicate

**Plan of Action:

1. Create a tuple

2. accesing items

3. editing itmes (Immutable thus cant edit item)

4. adding items (Immutable, not possible)

5. deleting items

6. operations on Tuple

7. TUple functions

8. Difference b/w List and Tuple

# 1. Creating tuple

In [2]:
# empty

t1 = ()
print(t1)

# create a tuple with a single item

t2 = ("hello",)
print(t2)

()
('hello',)

In [9]:
# Homo tuple

t3 = (1,2,3,4)
print(t3)

# Hetro tuple

t4 = (1,"hello", 3.4, True)
print(t4)

# 2D tuple

t5 = (1,2,3,(4,5))
print(t5)

# using type conversion

t6 = tuple("hello")
print(t6)

(1, 2, 3, 4)
(1, 'hello', 3.4, True)
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# 2. Accesing item

Indexing

Slicing

In [13]:
# Indexing
print(t3)

print(t3[0])

(1, 2, 3, 4)
1

In [23]:
# slicing

print(t3[0:4])

print(t3[0:4:2 ])

print(t3[-3:-1])

print(t3[::-1])

(1, 2, 3, 4)
(1, 3)
(2, 3)
(4, 3, 2, 1)

In [63]:
# Tuple slicing practice

t1 = (1,2,3,4,5,6,7,8,9,10)

# extract 2-10
print(t1[1:])

# extract 5-10

print(t1[-6:])

# extract 4-9
print(t1[3:9])

# extract 4-9 negetive

print(t1[-7:-1])

# reverse a tuple

print(t1[::-1])

# 10 - 5 

print(t1[4:10][::-1])
# or

print(t1[-1:-7:-1])

# even
print(t1[1::2])

# odd
print(t1[-10:-1:2])
# or
print(t1[0::2])

(2, 3, 4, 5, 6, 7, 8, 9, 10)
(5, 6, 7, 8, 9, 10)
(4, 5, 6, 7, 8, 9)
(4, 5, 6, 7, 8, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 9, 8, 7, 6, 5)
(10, 9, 8, 7, 6, 5)
(2, 4, 6, 8, 10)
(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9)

In [48]:
# accesing 2d array

print(t5)

print(t5[3][0])

(1, 2, 3, (4, 5))
4

# 3. Editing Items

Tuples are Immutable hence error

In [50]:
print(t3)

t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

# 4. Adding Items

Immumtable not possible

# 5. Deleting Items 

only whole tuple can delete,single item deletion are not possible due to its immutable

In [54]:
t2 = (1,2,3,4,5,6)
print(t2)
del t2
print(t2)

Hence Tuple are Immutable it throw Errorm

# 6. Operations on Tuple

+ concatenation +
* multiplication *
* membership
* iteration (loops)

In [70]:
# + and * 

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

# multiplication
print(t1*3)

# membership
1 in t1

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

# 7. Tuple Functions

len/sum/min/max/sorted

In [74]:
t = (1,2,3,4,5)

print(len(t))

print(min(t))

print(max(t))

print(sum(t))

print(sorted(t))
print(sorted(t,reverse= True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

Count

In [75]:
t = (1,2,3,4,5)

t.count(5)

1

index

In [76]:
t.index(5)

4

# 8. Difference b/w List and Tuple

* Syntax
* Mutablity   (Tuple are Immutabe while list are Mutable)
* Speed       ( TUple are faster beacaue of Immutable nature, below example)
* Memory      (Tuple takes less memory while List take more Memory,below example)
* Built in Functionality ( List has more)
* Error prone (list is more error prone,below example)
* Usablity

# TO Check memory usage of tuple and list

In [78]:
import sys
L = list(range(1000))
T = tuple(range(1000))

print("List size", sys.getsizeof(L))
print("Tuple size", sys.getsizeof(T))

List size 8056
Tuple size 8040

# TO Check the SPeed b/w tupple and List

In [85]:
import time

L = list(range(1000000))
T = tuple(range(1000000))

start = time.time()
for i in L:
    i*5
print("List time", time.time()-start)

start = time.time()
for i in T:
    i*5
print("TUPLE TIME", time.time()-start)

List time 0.2977871894836426
TUPLE TIME 0.14866876602172852

#  Example of error prone in list  -->

In [86]:
# for List

 a  = [1,2,3]

b = a

a.append(4)
print(a)
print(b)

# changes occur in both while i changed the value of a only i.e List is Error prone

[1, 2, 3, 4]
[1, 2, 3, 4]

for Tuple

In [87]:
a = (1,2,3)

b = a

a = a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# Special syntax - Tuple unpacking

In [89]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [92]:
a,b = (1,2,3)
print(a,b)

# it will throw error it need equal variable to store values

1 2 3

# Tuple swaping`

In [93]:
a = 1
b = 2

a,b = b,a

print(a,b)

2 1

In [95]:
a,b,*others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

# Zipping in Tuple

It Zip's the both item of list like following

In [96]:
a = (1,2,3,4)
b = (5,6,7,8)

zip(a,b)

hence it gives the zip object of a and b, wanna see it convert it into list or tuple

In [98]:
tuple(zip(a,b))
# list(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))