# Dictionary

Dictionary in Python is a collection of keys values, used to store date values like a map, which unlike other data types which hold only single value as an element.

In some Language it's known as map or assosiative arrays.

dict = {'name':'adi', 'age': 22, 'gender': 'male'}

characterstics:

* Mutable (indexing and slicing not allowed)
* Indexing has no meaning
* keys can't be duplicated
* keys cant be mutable items

# 1. Create Dictionary

In [39]:
# empty dict

d  = {}
print(d)

# one-D dict
d1 = {'name': 'adi', 'age': 22, 'gender': 'male'}
print(d1)

# mixed dict
d2 = {(1,2,3):1, "hello":"world"}
print(d2)

# 2-D dictionary

S = {
    "name":"adi",
    "college":"JNU",
    "sem":8,
    "subjects":{
        "dsa":80,
        "english":90,
        "maths":70
    }
}

S

{}
{'name': 'adi', 'age': 22, 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}

{'name': 'adi',
 'college': 'JNU',
 'sem': 8,
 'subjects': {'dsa': 80, 'english': 90, 'maths': 70}}

In [2]:
# using sequance and dict function

d4 = dict([(1,1),(2,2),(3,3)])
d4

# duplicate keys

d5 = {'name':'adi','name':'rahul'}
d5

# mutable items as keys (which are not allowed will throw ERROR)

# d6 = {'name':'adi',[2,3,4]:6}

# instead tuple will work as follow
d6 = {'name':'adi',(2,3,4):6}

In [3]:
d4

{1: 1, 2: 2, 3: 3}

# 2. Accesing Items

* passing key
* through using dict.get(key)

In [43]:
Dict = dict([('name','adi'),('age',22)])

Dict['name']
Dict.get('age')

# for 2D 
print(S)
S['subjects']['maths']

{'name': 'adi', 'college': 'JNU', 'sem': 8, 'subjects': {'dsa': 80, 'english': 90, 'maths': 70}}

70

# 3. Adding key-value Pair

In [46]:
d1['gender']  = 'male'
d1

d1['age'] = 23
d1

d1['weight'] = 67
d1

# for 2D Dict

S['subjects']['ML'] = 89
print(S)

{'name': 'adi', 'college': 'JNU', 'sem': 8, 'subjects': {'dsa': 80, 'english': 90, 'maths': 70, 'ML': 89}}

# 4. Remove Key-value Pair
* pop
* Popitem
* del
* clear

In [33]:
d = {'name': 'adi', 'age': 23, 3:3,'gender': 'male', 'weight': 67}

# POP
d.pop(3)
print(d)

{'name': 'adi', 'age': 23, 'gender': 'male', 'weight': 67}

* pop item- removes last key item

In [34]:
d.popitem()
print(d)

{'name': 'adi', 'age': 23, 'gender': 'male'}

* Del

In [56]:
d = {'name': 'adi', 'age': 23, 3:3,'gender': 'male', 'weight': 67}
del d['name']
print(d)

S
del S['subjects']['ML']
print(S)

{'name': 'adi', 'college': 'JNU', 'sem': 8, 'subjects': {'dsa': 80, 'english': 90}}

* Clear

In [37]:
d.clear()
print(d)

{}

# 5. Editing key-value pair

In [59]:
S['sem'] = 5
S

S['subjects']['dsa']  = 30
S

{'name': 'adi',
 'college': 'JNU',
 'sem': 5,
 'subjects': {'dsa': 30, 'english': 90}}

# 6. Dictionary Opeations
* Membership (works on keys not on Value)
* Iteration

In [62]:
print(S)

'name' in S

{'name': 'adi', 'college': 'JNU', 'sem': 5, 'subjects': {'dsa': 30, 'english': 90}}

True

In [65]:
D = {'name':'adi','gender': 'male', 'age':23}

for i in D:
    print(i)
  # it gives only keys

name
gender
age

In [66]:
# TO print value

for i in D:
    print(i,D[i])

name adi
gender male
age 23

# 7. Dictionary Functions

len/sorted/MIN/Max

In [74]:
# len/sorted


print(len(D))

# sorted
print(D)

sorted(D,reverse = True)

# Min/ Max

print(max(D))
print(min(D))

3
{'name': 'adi', 'gender': 'male', 'age': 23}
name
age

* Items (shows dictionary into tuple
*  keys  ( collect all the keys)
*  values  (collect all the values)
*  update (It updates the D1 and D1)

In [75]:
# items: shows dictionary into tuple

print(D.items())

dict_items([('name', 'adi'), ('gender', 'male'), ('age', 23)])

In [ ]:
# Keys

In [79]:
print(D.keys())

dict_keys(['name', 'gender', 'age'])

In [ ]:
# values

In [78]:
print(D.values())

dict_values(['adi', 'male', 23])

* Update It updates the D1 and D1

In [80]:
D1 = {1:2,3:4,4:5}
D2 = {4:7,6:8}

D1.update(D2)
print(D1)

{1: 2, 3: 4, 4: 7, 6: 8}

# 8. Dictionary Comprehension

{keys: value 'for' variable 'in' iterable}

In [81]:
# print the 1st 10 numbers and their squares



{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}