# Sets

A set is an unorderd collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be change).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like UNION, INTERSECTION, SYMMETRIC, DIFFERNECE,e.tc.

Characterstics:

* Unordered (Hashing wil control where the item will be placed in set)
* Mutable
* No duplicates
* Can't Contain Mutable data types (set is mutable but can't contain mutable items only immutable items are present in it, means 2d set is not possible)

# 1. Creating Sets

In [9]:
# Empty set

s = set()
print(s)
print(type(s))

# 1D set

s1 = {1,2,3}
print(s1)

#2d Set not possible charterstic no 4.
# s2 = {1,2,3,{4,5}}
# print(s2)

# Hetro 
s3 = {1,"hello", 4.5,(1,2,3),True}
print(s3)
# becasue python treat True as 1 and duplicate not allow in set

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}

Type conversion

In [12]:
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

set can't have mutable items in it It will Throw EROOR

In [15]:
# List is mutable

s5 = {1,2,[3,4]}
print(s5)

In [16]:
# it can have tuple because tuple is immutable

s6 = {1,2,3,(4,5)}
print(s6)

{3, 1, (4, 5), 2}

# 2. Accesing Items
Accesing item doesn't work!!!


Can't Acces item through Indexing not Slicing, It's Unchangable

In [17]:
# s1 = {1,2,3,4}
# s1[0]

# It will Throw ERROR

# 3. Editing Items

Not allowed

In [18]:
# s1 = {1,2,3,4}
# s1[0] = 100

# IT will throw ERROR

# 4.  Adding Items

In [20]:
S = {1,2,3,4}

# add

S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [21]:
# UPdate can have muti items at one time

S.update([5,6,7,8])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

# 5. Deleting ITems

* Delete
* Discard
* REmove
* Pop     (it removes random item from set)
* Clear   (clear whole item and return empty set)

* diff in discard and remove is Discard doesn't throw error if you try to discard a item not exist and remove throws error

In [33]:
# Del
# can delete whole set

s = {12,2,3,4,5,6}
# print(s)
# del s
# print(s)

Discard

In [34]:
s.discard(5)
print(s)

{2, 3, 4, 6, 12}

Remove

In [35]:
s.remove(12)
print(s)

{2, 3, 4, 6}

POP

In [36]:
s.pop()

2

In [37]:
s.clear()
print(s)

set()

# 6. Set Operation

* Union
* INtersection
* Differencce
* Symmetric Difference
* Membership Test
* Iteration

In [44]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

# Union
S1 | S2

# Intersection (common item print)

S1 & S2


# Differnece( S1 item not present in S2)

S1-S2
 
# Symmetric difference(^) (common will not print)

S1 ^ S2

# Membership Test
4 in S1


# Iteration

for i in S1:
    print(i)

1
2
3
4
5

# 7. Set Functions

len/ sum/ min/max/sorted

In [47]:
S = {3,1,4,5,2,7}

len(S)
sum(S)
min(S)
max(S)
sorted(S)
sorted(S,reverse  = True)

[7, 5, 4, 3, 2, 1]

Union/Update

In [50]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

# S1 | S2
S1.union(S1)


# update

S1.update(S2)
print(S1)
print(S2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

Intersection/ Intersection update

In [53]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

S1.intersection(S2)

S1.intersection_update(S2)
print(S1)
print(S2)

{4, 5}
{4, 5, 6, 7, 8}

Difference/Difference_update

In [54]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

S1.difference(S2)

S1.difference_update(S2)
print(S1)
print(S2)

{1, 2, 3}
{4, 5, 6, 7, 8}

Symmetric_difference/ Symmetric_difference_update

In [56]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

S1.symmetric_difference(S2)

S1.symmetric_difference_update(S2)
print(S1)
print(S2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

# More 4 Functions

1. isdisjoint

 mathematically disjoint set are those in which none of item are common

In [57]:
S1 = {1,2,3,4}
S2 = {3,4,5,6}

S1.isdisjoint(S2)

False

2. issubset

In [58]:
S1 = {1,2,3,4,5}
S2 = {3,4,5}

S2.issubset(S1)

# because S1 is subset of S2

True

3. Superset

In [59]:
S1 = {1,2,3,4,5}
S2 = {3,4,5}

S1.issuperset(S2)

# because S2 is superset of S1

True

4. Copy

In [60]:
S1 = {1,2,3}
S2 = S1.copy()

print(S1)
print(S2)

{1, 2, 3}
{1, 2, 3}

# Frozen Set

Frozen set is just an immutable version of a Python set Object

Create frozen set

In [61]:
# frozen set

fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

what works in frozen set and what not

Works all Read functions like union, intersection etc

Doesn't wokr Write functions like Update, REmove, Delete

When to use?

When you create Read only operation programe use frozen set

In [63]:
# 2d Frozenset

fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

# Set Comprehension

In [66]:
# create set 1 - 10

{i for i in range(1,11) if i > 5}

{6, 7, 8, 9, 10}